body{
    background: linear-gradient(to bottom right, #410175, black);
}

.confirmationBox{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 400px;
    display: flex;
}

.box{
    height: 100%;
    width: 50%;
}

.changePasswordForm{
    margin-left: 10%;
    margin-top: 10%;
}

.img_gears{
    height: 65%;
    width: 65%;
    margin-left: 15%;
    margin-top: 15%;
}

.changePasswordButton{
    border-radius: 15px;
    border-color: darkgray;
    width: 60%;
    height: 10%;
    font-weight: 700;
    margin-left: 15%;
}

.label{
    padding-left: 3%;
    font-size: 15px;
    font-weight: 700;
    color: silver;
    height: 15%;
}

.inputText{
    width: 90%;
    height: 10%;
    border-radius: 15px;
    border-color: azure;
    margin-top: 5%;
    background-color: silver;
    font-weight: 700;
}

.changePasswordButton:hover{
    border-color: azure;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.changePasswordButton:focus{
    outline: none !important;
}

.inputText:focus{
    outline: none !important;
}


