body{
    margin:0;
    background: linear-gradient(to bottom right, #410175, black);
}

.userInfoBox{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 60%;
}

.info{
    padding-top: 3%;
    margin-left: 5%;
    font-size: 150%;
    font-weight: 900;
    text-align: left;
    color: silver;
}

hr{
    height: 2px;
    background: linear-gradient(to left, black, white);
    border: none;
    border-bottom: dimgray;
    margin-bottom: 0;
}

.nav_img{
    width: 30%;
    height: 100%;
}

.navigationForm{
    margin: 0;
    width: 100%;

    transition: border-color.2s;
    background-color: transparent;
}

.navButton{
    width: 70%;
    background-color: transparent;
    border: none;
    font-weight: 15px;
    font-size: 0.9rem!important;
    color: dimgray;
}

.navigationButton{
    width: auto;
    display: flex;
    background-color: transparent;
    border-bottom: 2px solid gray;
}

.navButton:focus{
    outline: none !important;
}

.navigationButton:hover {
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    outline: none !important;
}

.navigationList{
    width: 30%;
    height: 85%;
}

.box{
    display: flex;
    align-items: stretch;
}

.infoWindow{
    margin-top: 5%;
    width: 70%;
}

.infoBox{
    display: flex;
}

.paymentForm{
    display: flex;
}

.infoLabel{
    margin-left: 10%;
    padding-top: 1%;
    width: 50%;
    font-size: 120%;
    font-weight: 700;
    color: dimgray;
}

.infoPart{
    margin-top: 3%;
    margin-left: 30%;
    width: 40%;
    font-size: 120%;
    font-weight: 700;
    color: dimgray;
}

.paymentButton{
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 10%;
    border-radius: 15px;
    border-color: darkgray;
    width: 40%;
    height: 20%;
    background-color: silver;
    font-size: 15px;
    font-weight: 700;
}

.paymentLabel{
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 15px;
    border-color: darkgray;
    width: 20%;
    height: 20%;
    background-color: silver;
    font-size: 15px;
    font-weight: 700;
}

.confirmationButton{
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 20%;
    border-radius: 15px;
    border-color: darkgray;
    width: 50%;
    height: 15%;
    background-color: silver;
    font-size: 15px;
    font-weight: 700;
}

.paymentLabel:hover{
    border-color: azure;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.paymentLabel:focus{
    outline: none !important;
}

.paymentButton:hover{
    border-color: azure;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.paymentButton:focus{
    outline: none !important;
}